<div class="custom-content-popup element-popup-new-key-city transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup central-content-994 background-color-fff">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="content-popup padding-30 central-content-846">
                <div class="title font-montserrat-700">Add a key city</div>
                <form id="form-new-key-city" class="padding-top-30" action="" method="post">
                    <div class="form-element choose-select-key-city">
                        <label>Key city</label>
                        <div class="content-select">
                            <select name="city_id" id="new-key-city-select" class="select-key-city-popup">
                            </select>
                        </div>
                    </div>
                </form>
                <div class="content-buttons margin-top-10">
                    <div class="loader-popup">
                        <div class="loading-spinner"></div>
                    </div>
                    <button class="hub-button grey action-close-popup">Cancel</button>
                    <button class="hub-button add-new-key-city">Add city</button>
                </div>
            </div>
        </div>
    </div>
</div>
