<div class="custom-content-popup element-search-popup transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup central-content-994 background-color-fff">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="content-popup">
                <div class="padding-30">
                    <div class="content-search-popup">
                        <div class="button-search-input transition"></div>
                        <input id="true-search-input" type="text" class="font-work-sans-400"
                               placeholder="Search">
                        <button disabled class="hub-button link-to-search-results">OK</button>
                    </div>
                </div>
                <div class="search-result"></div>
            </div>
        </div>
    </div>
</div>