<div class="walkthrough-blur transition"></div>
<div class="custom-content-popup element-walkthrough-start-popup opened no-animation-open transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup background-color-fff central-content-994">
            <div class="cross-close-popup transition action-close-walkthrough"></div>
            <div class="content-popup">
                <div class="padding-30 padding-bottom-55 central-content-846 box-sizing-border-box text-align-center">
                    <img src="/images/logo.png" style="width:143px; height:120px;" alt=""/>
                    <div class="font-montserrat-700 color-000 margin-top-10 margin-bottom-20 font-size-30 line-height-1">
                        Welcome to the {{ website_title }}!
                    </div>
                    <div class="font-work-sans-400 color-000 margin-bottom-50 font-size-22 line-height-1-5">
                        We’ve made some great improvements to the Innovation Pipeline,<br>
                        with plenty of new features. We can’t wait to show you everything!
                        <br><br>
                        <span class="font-work-sans-600">Check out our presentation tour</span>
                    </div>
                    <div>
                        <button class="hub-button light-blue height-40 margin-bottom-20 action-start-walkthrough">Take a tour</button>
                    </div>
                    <div class="transition display-inline-block font-montserrat-500 font-size-14 line-height-1 color-b5b5b5 cursor-pointer link-underline action-end-walkthrough">No, thanks</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="custom-content-popup element-walkthrough-end-popup transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup background-color-fff central-content-994">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="content-popup">
                <div class="padding-30 padding-bottom-55 central-content-846 box-sizing-border-box text-align-center">
                    <img src="/images/logo.png" style="width:143px; height:120px;" alt=""/>
                    <div class="font-montserrat-700 color-000 margin-top-10 margin-bottom-20 font-size-30 line-height-1">
                        Thanks for taking the {{ website_title }} tour!
                    </div>
                    <div class="font-work-sans-400 color-000 margin-bottom-50 font-size-22 line-height-1-5">
                        As always, our focus is your experience.
                        Do not hesitate to reach out to us via the chat for any questions or technical issues you might encounter.
                        We will be pursuing constant improvements and new developments, so we’re happy to hear any feedback you might have.
                        <br><br>
                        <span class="font-work-sans-600">Last but not least: STAY TUNED for more news in the coming months…</span>
                    </div>
                    <button class="hub-button light-blue height-40 margin-bottom-20 action-close-popup">Welcome</button>
                </div>
            </div>
        </div>
    </div>
</div>