<div class="custom-content-popup element-popup-delete-skill transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup central-content-994 background-color-fff">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="content-popup padding-30 central-content-846">
                <div class="title font-montserrat-700">Delete skill</div>
                <div class="font-montserrat-700 color-000 font-size-20 line-height-1-5 margin-bottom-10">Are you sure you want to delete this skill?</div>
                <div class="font-montserrat-300 color-000 font-size-15 line-height-1-53">All endorsements people gave you will be lost. This action cannot be undone.</div>
                <div class="content-buttons margin-top-10">
                    <div class="loader-popup">
                        <div class="loading-spinner"></div>
                    </div>
                    <button class="hub-button grey action-close-popup">Cancel</button>
                    <button class="hub-button red button-delete-skill">Delete skill</button>
                </div>
            </div>
        </div>
    </div>
</div>