<div class="custom-content-popup element-consumer-opportunity-popup transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup background-color-fff central-content-994">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="back-on-popup transition action-back-popup"></div>
            <div class="content-popup">
                <div class="padding-30 central-content-846">
                    <div class="title main-title font-montserrat-700">Find your Consumer Opportunity</div>
                </div>
                <div class="content-modale-main transition-none">

                </div>
                <div class="content-modale-detail transition-none central-content-846">
                    <div class="bandeau-picture">
                        <div class="icon"></div>
                        <div class="content-block-left">
                            <div class="block-left-1 font-montserrat-700"></div>
                            <div class="block-left-2 font-montserrat-700"></div>
                        </div>
                    </div>
                    <div class="background-color-fff margin-top-20">

                        <div class="overflow-hidden">
                            <div class="column-percent-50 padding-right-10">
                                <div class="background-color-f2f2f2 padding-20 position-relative min-height-225">
                                    <div class="content-title-with-icon">
                                        <span class="icon consumer light"></span>
                                        <span class="title font-montserrat-700">Human driver</span>
                                    </div>
                                    <div class="icon-losange"></div>
                                    <div class="citation font-work-sans-300"></div>
                                </div>
                            </div>
                            <div class="column-percent-50 padding-left-10">
                                <div class="background-color-f2f2f2 padding-20 position-relative min-height-225">
                                    <div class="content-title-with-icon">
                                        <span class="icon business-priority light"></span>
                                        <span class="title font-montserrat-700">Business opportunity</span>
                                    </div>
                                    <div class="content-block-business">
                                        <div class="block-business block-business-1">
                                            <div class="icon"></div>
                                            <div class="text"></div>
                                        </div>
                                        <div class="block-business block-business-2">
                                            <div class="icon"></div>
                                            <div class="text"></div>
                                        </div>
                                        <div class="block-business block-business-3">
                                            <div class="icon"></div>
                                            <div class="text"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-top-20 background-color-f2f2f2 padding-20 position-relative">
                            <div class="triangle"></div>
                            <div class="content-title-with-icon">
                                <span class="icon value-proposition light"></span>
                                    <span class="title font-montserrat-700">
                                        How can {{ global.get_global_wording()['company'] }} create value?
                                    </span>
                            </div>
                            <div class="text-center font-work-sans-300"></div>
                        </div>
                    </div>
                    <div class="margin-top-40">
                        <div class="content-title-with-icon">
                            <span class="icon opportunity-outlook light"></span>
                            <span class="title font-montserrat-700">Opportunity outlook</span>
                        </div>
                        <div class="content-block-opportunityoutlook">
                            <div class="block-opportunityoutlook block-opportunityoutlook-1">
                                <div class="title font-work-sans-500"></div>
                            </div>
                            <div class="block-opportunityoutlook block-opportunityoutlook-2">
                                <div class="title font-work-sans-500"></div>
                            </div>
                            <div class="block-opportunityoutlook block-opportunityoutlook-3">
                                <div class="title font-work-sans-500"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
