<div class="custom-content-popup element-feedback-request-popup transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup background-color-fff central-content-994">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="back-on-popup action-back-popup transition display-none"></div>
            <div class="content-popup">
                <form id="form-feedback-request" action="" method="post" enctype="multipart/form-data">
                    <div class="padding-top-30 central-content-846 box-sizing-border-box padding-left-30 padding-right-30">
                        <div class="title main-title font-montserrat-700">Ask for feedback</div>
                        <div class="popup-feedback-citation">
                            <div class="title font-montserrat-500">
                                <span class="quote-left"></span>
                                <span>All of us are smarter than any of us.</span>
                                <span class="quote-right"></span>
                            </div>
                            <div class="subtitle font-work-sans-300">Tim Brown, CEO IDEO</div>
                        </div>
                    </div>
                    <div class="content-step-1 transition-none padding-bottom-40">
                        <div class="central-content-846 box-sizing-border-box padding-left-30 padding-right-30">
                            <h3 class="color-000 font-montserrat-700 font-size-20">
                                How to get useful feedback?
                            </h3>
                            <p class="margin-top-10 color-000 font-work-sans-300 font-size-15 margin-bottom-40 line-height-1-33">
                                Be clear about where you're at and what you need.<br/><br/>

                                Think about what would need to be true for you to feel confident about
                                the next steps for your innovation. What reactions do you hope to hear or see?
                                The most valuable feedback doesn’t just capture what people think, it helps you
                                understand why.<br/><br/>

                                And don't worry: it may feel awkward or scary at first, but you'll see,
                                the more you do it, the more you love it.
                            </p>
                            <div class="form-element form-element-selector-innovation display-none">
                                <label>
                                    For wich innovation do you need feedback?
                                </label>
                                <div class="content-select">
                                    <select class="innovation-select required form-input" name="innovation_id"
                                            id="form-feedback-request-innovation">
                                    </select>
                                </div>
                            </div>
                            <div class="form-element">
                                <label class="margin-top-10 color-000 font-size-15 line-height-1">
                                    Who do you want to ask feedback to?
                                </label>
                                <div class="content-select">
                                    <select class="people-select required form-input" name="people"
                                            id="form-feedback-request-people">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-element">
                                <label class="color-000 font-size-15 line-height-1">Your message</label>
                                <div class="content-textarea">
                                    <textarea
                                            type="text"
                                            name="message"
                                            id="form-feedback-request-message"
                                            class="required form-input"
                                            rows="9"
                                            placeholder="Do you have specific questions about your project? We like to use variations of these questions: What was memorable ? What resonated? What's missing ? What didn't work? Who is it for? Who is it not for? What are you drawn to? What are you unsure about? What could make it better? How could they build on your work  / How could they push it further up the moutain top?"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="content-buttons">
                                <div class="error-message-feedback-request info-inner-content-button font-work-sans-400 color-e8485c"></div>
                                <div class="loader-popup">
                                    <div class="loading-spinner"></div>
                                </div>
                                <button class="hub-button grey action-close-popup" type="button">Cancel</button>
                                <button class="hub-button" type="submit">Ask for feedback</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>