<div class="custom-content-popup element-tab-activities-view-all-popup transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup background-color-fff central-content-994">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="content-popup tab-menu">
                <div class="padding-30 central-content-846 box-sizing-border-box">
                    <div class="header-tab-popup">
                        <ul>
                            <li class="view ui-tabs-active ui-state-active" data-target="view">
                                <a href="#tab-activities-view-all-popup-view">
                                    Views <span class="font-work-sans-400">(<span class="count-view">0</span>)</span>
                                </a>
                            </li>
                            <li class="export" data-target="export">
                                <a href="#tab-activities-view-all-popup-export">
                                    Downloads <span class="font-work-sans-400">(<span class="count-export">0</span>)</span>
                                </a>
                            </li>
                            <li class="share" data-target="share">
                                <a href="#tab-activities-view-all-popup-share">
                                    Sharings <span class="font-work-sans-400">(<span class="count-share">0</span>)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="tab-activities-view-all-popup-view">
                        <div class="list-popup padding-top-30" data-offset="0" data-limit="20">

                        </div>
                        <div class="tab-activities-view-all-popup-loader display-none">
                            <div class="loading-spinner left loading-spinner--26"></div>
                        </div>
                        <button class="hub-button grey margin-top-20 tab-activities-view-all-popup-load-more">Load more</button>
                    </div>
                    <div id="tab-activities-view-all-popup-export">
                        <div class="list-popup padding-top-30"  data-offset="0" data-limit="20">

                        </div>
                        <div class="tab-activities-view-all-popup-loader display-none">
                            <div class="loading-spinner left loading-spinner--26"></div>
                        </div>
                        <button class="hub-button grey margin-top-20 tab-activities-view-all-popup-load-more">Load more</button>
                    </div>
                    <div id="tab-activities-view-all-popup-share">
                        <div class="list-popup padding-top-30"  data-offset="0" data-limit="20">

                        </div>
                        <div class="tab-activities-view-all-popup-loader display-none">
                            <div class="loading-spinner left loading-spinner--26"></div>
                        </div>
                        <button class="hub-button grey margin-top-20 tab-activities-view-all-popup-load-more">Load more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
