<div class="custom-content-popup element-manage-new-feedback-popup transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup background-color-fff central-content-994">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="content-popup">
                <form id="form-manage-new-feedback-popup" action="" method="post" enctype="multipart/form-data">
                    <div class="content-step-1 transition-none padding-top-30 padding-bottom-40">
                        <div class="central-content-846 box-sizing-border-box padding-left-30 padding-right-30 text-align-center">
                            <h3 class="color-000 font-montserrat-700 font-size-30">
                                Recommandations &amp; feedback
                            </h3>
                            <p class="margin-top-10 color-000 font-work-sans-400 font-size-15 line-height-1-33">
                                Visible for COMEX ONLY
                            </p>
                        </div>
                        <div class="background-color-f2f2f2 margin-top-30 padding-top-30 padding-right-40 padding-bottom-40 padding-left-40">
                            <div class="form-element">
                                <label class="padding-top-10 font-size-15 line-height-1">
                                    Your strategic recommandations for COMEX
                                </label>
                                <div class="content-textarea">
                                    <textarea
                                        type="text"
                                        style="width:100%;"
                                        name="recommandation"
                                        class="required form-input"
                                        rows="3"
                                        placeholder="Enter your strategic recommandations"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="box-sizing-border-box padding-top-40 padding-right-40 padding-left-40">
                            <div class="form-element">
                                <label class="padding-top-10 color-000 font-size-15 line-height-1">
                                    Your feedback or needs for New Business Models (Services, etc.)
                                </label>
                                <div class="content-textarea">
                                    <textarea
                                        type="text"
                                        style="width:100%;"
                                        name="feedback"
                                        class="required form-input"
                                        rows="3"
                                        placeholder="Enter your feedback or needs for New Business Models"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="content-buttons padding-left-40 padding-right-40">
                            <div class="error-message info-inner-content-button font-work-sans-400 color-e8485c"></div>
                            <div class="loader-popup">
                                <div class="loading-spinner"></div>
                            </div>
                            <button class="hub-button grey action-close-popup" type="button">Cancel</button>
                            <button class="hub-button" type="submit">Done</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>