<div class="custom-content-popup element-export-popup transition" data-key="">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup central-content-994 background-color-fff">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="content-popup padding-30 central-content-846">
                <div class="title font-montserrat-700">Exporting selection in PPT…</div>
                <div class="loading-spinner"></div>
                <div class="content-eventsource-progress">
                    <div class="percent font-work-sans-400"><span>0</span>%</div>
                    <div class="content-bar">
                        <div class="bar" style="width: 0;">
                            <div class="pri-loader-bar"></div>
                        </div>
                    </div>
                </div>
                <div class="content-buttons">
                    <button class="hub-button grey action-close-popup">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>