<div class="custom-content-popup element-canvas-popup transition">
    <div class="content-blur white transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup background-color-fff">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="central-content-786">
                <div class="content-popup padding-30 central-content-846">
                    <div class="title font-montserrat-700">Canvas</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="custom-content-popup element-popup-open-question transition">
    <div class="content-blur transition"></div>
    <div class="content-popup-for-scroll">
        <div class="element-popup central-content-994 background-color-fff">
            <div class="cross-close-popup transition action-close-popup"></div>
            <div class="content-popup padding-30 central-content-786">
                <div class="title font-montserrat-700">Open questions</div>
                <form id="form-open-question" class="padding-top-30" action="" method="post">
                    <div class="form-element">
                        <label class="padding-top-10 color-000 font-size-15 line-height-1">Open questions from the Innovation Team</label>
                        <div class="under-label">The open questions are visible on the project's overview</div>
                        <div class="content-textarea">
                            <textarea
                                    type="text"
                                    style="width:100%;"
                                    name="message"
                                    id="form-open-question-message"
                                    class="required form-input"
                                    rows="5"
                            ></textarea>
                        </div>
                    </div>
                </form>
                <div class="content-buttons margin-top-10">
                    <div class="loader-popup">
                        <div class="loading-spinner"></div>
                    </div>
                    <button class="hub-button grey action-close-popup">Cancel</button>
                    <button class="hub-button update-open-question-popup-button">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
